<p id="notice"><%= notice %></p>

<h1>
  <%= @beer_club.name %>
</h1>

<p>
  founded in <%= @beer_club.founded %>
</p>

<h2> Members </h2>

<ul>

  <% @beer_club.members.each do |member| %>
    <li> <%= link_to member.username, member %> </li>
  <% end %>

</ul>

<%= link_to('Edit', edit_beer_club_path(@beer_club)) if current_user %> |
<%= link_to 'Back', beer_clubs_path %>
