<h1>
  <%= @beer_club.name %>
</h1>

<p>
  founded in <%= @beer_club.founded %>
</p>

<h2> Members </h2> <!-- List of confirmed members -->

<ul>
  <% @beer_club.confirmed_members.each do |member| %>
    <li> <%= link_to member.username, member %> </li>
  <% end %>
</ul>

<% if current_user %> <!-- List of unconfirmed members -->
  <% if @beer_club.confirmed_members.include?(current_user) %>
    <h2> Requesting membership </h2>

    <ul>
      <% @beer_club.unconfirmed_members.each do |member| %>
        <li> <%= link_to member.username, member %> <%= link_to "accept member", toggle_confirmed_membership_path(Membership.find_by(beer_club_id:@beer_club.id,user_id:member.id)), method: :post, class: "btn btn-primary" %> </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<p>
<% if current_user and current_user.beer_clubs.exclude?(@beer_club) %> <!-- Join club button -->
  <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value: "join the club", class:"btn btn-success" %>
  <% end %>
<% elsif current_user and current_user.beer_clubs.include?(@beer_club) and @beer_club.confirmed_members.include?(current_user)%> <!-- leave club button -->
<%= form_for(@membership, method: "delete") do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value: "end the membership" %>
  <% end %>
<% elsif current_user and current_user.beer_clubs.include?(@beer_club) and @beer_club.unconfirmed_members.include?(current_user)%> <!-- cancel membership application button -->
<%= form_for(@membership, method: "delete") do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value: "cancel membership application" %>
  <% end %>
<% end %>
</p>

<br>

<%= edit_and_destroy_buttons(@beer_club) %>
