<p>
  <h1> <%= @user.username %>
    <% if @user.banned? == true  %>
      <span class="label label-info">frozen</span>
  <% end %>
  </h1>
</p>
<p>
  <% if @user.ratings.count < 1%>
    user has no ratings
  <% else %>
    has made <%= pluralize(@user.ratings.count, 'rating') %>
    average: <%= @user.average_rating %>
    <p> favorite style: <%= @user.favorite_style %> <p>
    <p> favorite brewery: <%= @user.favorite_brewery %> <p>
  <% end %>
</p>

<p> <% if @user.beer_clubs.count == 0 %>
      user is not member of any beerclubs
    <% else %>
      member of
      <% @user.beer_clubs.each do |club| %>
        <%= link_to club.name, club %>
      <%end%>
    <% end %>

<ul>

  <% @user.ratings.each do |r| %>
    <li>
    <%= r.to_s %>
    <% if @user == current_user %> <%= link_to 'delete', r, method: :delete, data: { confirm: "Are you sure?"} %> <% end %>
    </li>
  <% end %>

</ul>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary" %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
<% end %>

<% if current_user.admin? == true and @user.admin? == false %>
  <% if @user.banned? == true %>
    <%= link_to "reactivate", toggle_ban_user_path(@user.id), method: :post, class: "btn btn-danger" %>
  <% else %>
    <%= link_to "freeze", toggle_ban_user_path(@user.id), method: :post, class: "btn btn-danger" %>
  <% end %>
<% end %>
