<h1> Rating stats </h1>

<h2> Best Beers </h2>

<%= render 'list', tops: @top_beers %>

<h2> Best Breweries </h2>

<%= render 'list', tops: @top_breweries %>

<h2> Best Styles </h2>

<%= render 'list', tops: @top_styles %>

<h2> Most active users </h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>Favorite beer</th>
    <th>Favorite style</th>
    <th>Favorite brewery</th>
    <th>Ratings made </th>
  </tr>
  </thead>

  <tbody>
  <% @top_users.each do |u| %>
      <tr>
        <td><%= link_to u.username, u %></td>
        <td><%= u.favorite_beer %></td>
        <td><%= u.favorite_style %></td>
        <td><%= u.favorite_brewery %></td>
        <td><%= u.ratings.count %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h2> Latest ratings </h2>

<% @latest_ratings.each do |r| %>
  <li> <%= r.to_s %> <%= link_to r.user.username, user_path(r.user) %> </li>
<% end %>
