<p id="notice"><%= notice %></p>

<h1> <%= @style.name %> </h1>

<p>
  <%= @style.description %>
</p>

<h4> Beers </h4>

<ul>
  <% @style.beers.each do |b| %>
    <li> <%= link_to b.name, beer_path(b) %>, by <%= link_to b.brewery.name, brewery_path(b.brewery) %> </li>
  <% end %>
</ul>

<%= edit_and_destroy_buttons(@style) %>
