<p id="notice"><%= notice %></p>

<p>
  <h2> <%= @brewery.name %>
       <% if not @brewery.active  %>
        <span class="label label-info">retired</span>
       <% end %>
  </h2>
</p>

<p>
  <i> Established in <%= @brewery.year %> </i>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
  <% end %>
</p>

<p>
  <% if @brewery.ratings.count == 0 %>
  This brewery has no ratings.
  <% else %>
  Has <%=pluralize(@brewery.ratings.count, 'rating')%>, average <%=@brewery.average_rating %>
  <%end%>
</p>

<%= link_to('Edit', edit_brewery_path(@brewery), class:"btn btn-primary") if current_user %>
<%= link_to('Destroy', @brewery, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger") if current_user %>
