<p>
  <h2> <%= @brewery.name %>
       <% if not @brewery.active  %>
        <span class="label label-info">retired</span>
       <% end %>
  </h2>
</p>

<p>
  <i> Established in <%= @brewery.year %> </i>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
  <% end %>
</p>

<p>
  <% if @brewery.ratings.count == 0 %>
    This brewery has no ratings.
  <% else %>
    Has <%=pluralize(@brewery.ratings.count, 'rating')%>, average <%=@brewery.average_rating %>
  <%end%>
</p>

<%= edit_and_destroy_buttons(@brewery) %>
<%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>
